@media screen and (max-width: 1200px) {
  #profile {
    height: auto;
    padding: 10vh 0;
  }

  section {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 720px) {
  section {
    margin: 0 2rem;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
  }

  .about-containers {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .section__text {
    text-align: center;
  }

  .btn-container {
    flex-direction: column;
  }

  .section__pic-container {
    width: 200px;
    height: 200px;
  }

  .about-containers {
    margin-top: 0;
  }

  #about, #experience, #projects {
    height: auto;
  }
}